@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  /* main */
  .main-container {
    @apply flex flex-1 flex-col min-h-screen items-center bg-black;
  }

  .topbar {
    @apply fixed flex top-0 w-full justify-between items-center bg-black border-b border-b-purple-500 z-50 md:hidden;
  }

  .leftsidebar {
    @apply sticky flex flex-col left-0 top-0 w-fit h-screen justify-between bg-black border-r border-dashed border-purple-900 pt-10 pb-5 overflow-auto z-20 max-md:hidden;
  }

  .rightsidebar {
    @apply sticky flex flex-col right-0 top-0 w-fit h-screen items-center gap-10 py-10 px-6 border-l border-l-purple-900 border-dashed overflow-auto z-20 max-md:hidden;
  }

  .bottombar {
    @apply fixed flex justify-between items-center bottom-0 w-full bg-black border-t border-t-purple-600 px-2 py-2 z-50 md:hidden;
  }

  .bottombar_container {
    @apply flex items-center justify-between gap-3 xs:gap-5;
  }

  .bottombar_link {
    @apply relative flex flex-col items-center gap-2 rounded-lg p-2 sm:flex-1 sm:px-2 sm:py-2.5;
  }
}

@layer utilities {
  .border-left-yellow {
    @apply border border-s-yellow-500 border-dotted;
  }

  .css-invert {
    @apply invert-[50%] brightness-200;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 1px;
    height: 2px;
    border-radius: 2px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: black;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgb(88, 28, 135);
    border-radius: 50px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgb(88, 28, 135);
  }

  .custom-scrollbar-two::-webkit-scrollbar {
    width: 6px;
    height: 2px;
    border-radius: 20px;
  }

  .custom-scrollbar-two::-webkit-scrollbar-track {
    background: black;
  }

  .custom-scrollbar-two::-webkit-scrollbar-thumb {
    background: rgb(88, 28, 135);
    border-radius: 50px;
  }

  .custom-scrollbar-two::-webkit-scrollbar-thumb:hover {
    background: rgb(88, 28, 135);
  }

  .col-flex {
    @apply flex flex-col;
  }

  .row-flex {
    @apply flex flex-row;
  }

  .col-item-center {
    @apply flex flex-col items-center;
  }

  .row-item-center {
    @apply flex flex-row items-center;
  }

  .flex-col-between {
    @apply flex flex-col justify-between;
  }

  .flex-col-between-item {
    @apply flex flex-col justify-between items-center;
  }

  .flex-row-between {
    @apply flex flex-row justify-between;
  }

  .flex-row-between-item {
    @apply flex flex-row justify-between items-center;
  }

  .flex-col-center {
    @apply flex flex-col justify-center;
  }

  .flex-col-center-item {
    @apply flex flex-col justify-center items-center;
  }

  .flex-row-center {
    @apply flex flex-row justify-center;
  }

  .flex-row-center-item {
    @apply flex flex-row justify-center items-center;
  }

  .flex-col-evenly-item {
    @apply flex flex-col justify-evenly items-center;
  }
}